@import "tailwindcss";

body {
    @apply font-sans;
}

@layer utilities {
    .bg-primary {
        @apply bg-[#FFFFFF];
    }

    .bg-secondary,
    .utility-gray-50 {
        @apply bg-[#FAFAFA];
    }

    .button-primary-bg {
        @apply bg-[#099250];
        @apply text-[#FFFFFF];
        @apply font-medium;
    }

    .text-brand-tertiary-600 {
        @apply text-[#099250];
        @apply font-medium;
    }

    .text-brand-secondary-700 {
        @apply text-[#087443];
        @apply font-medium;
    }

    .utility-success-500 {
        @apply bg-[#099250];
    }

    .utility-gray-200 {
        @apply border-[#E9EAEB];
        @apply border-solid;
        @apply border-[1px];
        @apply shadow-xs;
    }

    .button-tertiary-color,
    .button-primary-bg_hover {
        @apply bg-[#087443];
    }

    .border-primary {
        @apply border-[#D5D7DA];
        @apply border-solid;
        @apply border-[1px];
        @apply shadow-xs;
    }

    .border-secondary {
        @apply border-[#E9EAEB];
        @apply border-solid;
        @apply border-[1px];
        @apply shadow-xs;
    }

    .border-brand {
        @apply border-[#16B364];
    }

    .text-primary-900 {
        @apply text-[#181D27];
        @apply font-medium;
    }

    .text-secondary-700 {
        @apply text-[#414651];
        @apply font-medium;
    }

    .text-tertiary-600 {
        @apply text-[#535862];
    }

    .text-placeholder {
        @apply text-[#717680];
    }

    .fg-success-secondary {
        @apply text-[#17B26A];
    }

    .button-tertiary-color-fg {
        @apply text-[#087443];
        @apply font-medium;
    }

    .button-tertiary-fg {
        @apply text-[#535862];
        @apply font-medium;
    }

    .button-tertiary-bg_hover {
        @apply hover:bg-[#FAFAFA];
    }

    .button-secondary-border {
        @apply border-[#D5D7DA];
        @apply border-solid;
        @apply border-[1px];
        @apply shadow-xs;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
}